name: Deploy

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Backend
        run: |
          cd backend
          npm install
          npm run build

      - name: Build Frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Upload via lftp
        run: |
          sudo apt-get install -y lftp
          lftp -u ${{ secrets.FTP_USER }},${{ secrets.FTP_PASS }} srv29520.managed-pleskserver.de <<EOF
          set ssl:verify-certificate no
          set ftp:passive-mode yes
          mirror -R --verbose ./backend/dist/ /backend/dist/
          put ./backend/package.json -o /backend/package.json
          put ./backend/package-lock.json -o /backend/package-lock.json
          mirror -R --verbose ./backend/prisma/ /backend/prisma/
          mirror -R --verbose ./frontend/dist/ /frontend/dist/
          quit
          EOF
